@use "./styles/resets";
@use "./styles/fn-mixins" as *;

.content {
  display: flex;
  @include flex-center(center, center);
  flex-grow: 1;

  &__title {
    // SR Only
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
