@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/fn-mixins" as *;
@use "../../styles/partials/colors" as *;

.card-wrapper {
  @include dp-flex-block(null, wrap);
  @include flex-center(center, null);
  @include desktop() {
    flex-direction: row;
    @include flex-center(space-between, stretch);
    max-width: 1280px;
    margin-inline: auto;

    & > :last-child {
      margin-left: 4.6rem;
      margin-right: auto;
    }
  }
}

.card {
  @include dp-flex-block(column, null);
  color: $lght-mode-txt;
  background-color: $lght-mode-elements;
  box-shadow: $shadow-spread;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 26rem;
  margin: 2rem;

  &--drk-mode {
    color: $drk-mode-txt;
    background-color: $drk-mode-elements;
  }

  &__flag {
    display: block;
    width: inherit;
  }

  &__details {
    padding: 3rem 2rem;
    margin-top: auto;
  }

  // &__title {
  // }

  &__info {
    // &-wrapper {
    // }

    &-title {
      display: inline;
    }

    &-context {
      @extend .card__info-title;
    }
  }
}
