:root {
	/*Primary Colors*/
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);

	/*Neutral Colors*/
	--dark-blue: hsl(212, 21%, 14%);
	--gray-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);

	/*Link Colors*/
	--light-blue: hsl(228, 45%, 44%);

	/*Hover Colors*/
	--dark-cyan-h: hsl(158, 36%, 17%);
	--light-blue-h: hsl(228, 45%, 22%);	

	/* Font Family */
	--ff-primary: Fraunces, serif;
	--ff-secondary: Montserrat, sans-serif;

	/* Font Weights */
	--fw-regular: 500;
	--fw-bold: 700;
}

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font: 0.875rem var(--ff-secondary);
	font-weight: var(--fw-regular);
	background-color: var(--cream);
	color: var(--dark-blue);
	min-height: 100vh;
}

button {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	color: var(--dark-cyan);
}