@use "./colors" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

input,
button {
  font: inherit;
}

strong {
  font-weight: $fw-black;
}

body {
  font-family: $font-stack;
  font-weight: $fw-regular;
  font-size: $fs-body-copy;
  font-optical-sizing: auto;
  color: $clr-rose-900;
  background-color: $clr-rose-100;
  min-height: 100vh;
}
