@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

// Font stack
$font-stack: "Red Hat Text", sans-serif;

// Font Weights
$fw-regular: 400;
$fw-bold: 600;
$fw-black: 700;

// Font Sizes
$fs-xs: 0.875rem;
$fs-body-copy: 1rem;
$fs-header: 2.5rem;
$fs-subheader: 1.5rem;
