@use "../../styles/media-queries" as *;
@use "../../styles/typography" as *;
@use "../../styles/colors" as *;

.cart-preview {
  background-color: $clr-rose-50;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;

  @include desktop() {
    width: 5rem;
  }

  &__header {
    font-size: $fs-subheader;
    align-self: flex-start;
    color: $clr-red;
  }

  &__empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--false {
      display: none;
    }
  }

  &__illustration {
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__information {
    font-size: $fs-xs;
    font-weight: $fw-bold;
    color: $clr-rose-500;
  }

  &__cart-list {
    display: none;

    &--true {
      display: block;
    }
  }

  &__order-total {
    display: flex;
    font-size: $fs-xs;
    font-weight: $fw-bold;
    margin: 1.5rem 0;
  }

  &__total-price {
    font-size: $fs-subheader;
    font-weight: $fw-black;
    margin-left: auto;
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-rose-100;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem 0;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__tagline {
    font-size: $fs-xs;
    font-weight: $fw-bold;
  }

  &__btn-confirm {
    font-weight: $fw-bold;
    text-align: center;
    background-color: $clr-red;
    color: $clr-rose-100;
    border: none;
    border-radius: 25rem;
    padding: 1rem;
    width: 100%;
  }
}

.cart-list {
  list-style-type: none;
  margin: 0.5rem 0;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: solid 2px $clr-rose-100;
    width: inherit;

    & > :first-child {
      flex-grow: 1;
    }

    &-name {
      font-size: $fs-body-copy;
      font-weight: $fw-black;
      margin-bottom: 0.5rem;
    }

    &-count {
      font-size: $fs-body-copy;
      font-weight: $fw-black;
      color: $clr-red;
    }

    &-price {
      font-size: $fs-body-copy;
      font-weight: $fw-bold;
      color: $clr-rose-400;
      margin-inline: 0.5rem;
    }

    &-subtotal {
      font-size: $fs-body-copy;
      font-weight: $fw-black;
      color: $clr-rose-500;
    }
  }

  &__btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 2px $clr-rose-300;
    border-radius: 25rem;
    padding: 0.2rem;
  }

  &__btn-icon {
    width: 0.8rem;
    height: 0.8rem;
  }
}
