:root {
	--clr-primary: hsl(212, 45%, 89%);
	--clr-neutral: hsl(0, 0%, 100%);
	--clr-txt-primary: hsl(220, 15%, 55%);
	--clr-txt-accent: hsl(218, 44%, 33%);
	--clr-link: hsl(228, 45%, 44%);
	--clr-link-h: hsl(228, 45%, 22%);

	--fw-regular: 400;
	--fw-bold: 700;

	--ff-primary: 'Outfit', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: var(--clr-primary);
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: 0.937rem;
	color: var(--clr-txt-primary);
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 { 
	color: var(--clr-txt-accent);
}

a {
	text-decoration: none;
}

.qr-container {
	background-color: var(--clr-neutral);
	border-radius: 0.8rem;
	width: 100%;
	max-width: 85%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.flex-group {
	display: flex;
	flex-flow: column wrap;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
}

#qr-code {
	width: 100%;
	max-width: 100%;
	border-radius: 0.8rem;
}

.details-holder {
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

div.details-holder {

}

footer {
	width: 100%;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

footer p {
	font-size: 0.687rem;
	text-align: center;
	margin: 0.5rem 0rem;
}

footer a:is(:link, :visited) {
	color: var(--clr-link);
}

footer a:is(:hover, :active, :focus) {
	color: var(--clr-link-h);
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
	.qr-container { 
		max-width: 30%;
	}
}

@media screen and (min-width: 1441px) {
	.qr-container { 
		max-width: 13%;
	}
}