//////// Colors and Shadow Variables ////////

// Color Palette
$clr-accent-green: hsl(75, 94%, 57%);
$clr-neut-white: hsl(0, 0%, 100%);
$clr-neut-grey: hsl(0, 0%, 20%);
$clr-neut-drk-grey: hsl(0, 0%, 12%);
$clr-neut-off-black: hsl(0, 0%, 8%);
