@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fn-mixins" as *;

.header {
  @include dp-flex-block(row, wrap);
  @include flex-center(null, center);
  background-color: $lght-mode-elements;
  box-shadow: $shadow-bottom;
  width: 100%;
  padding: 3rem 2rem;

  &--drk-mode {
    background-color: $drk-mode-elements;
  }

  &__title {
    margin-right: auto;

    &--drk-mode {
      color: $drk-mode-txt;
    }
  }

  &__btn-mode {
    background-color: transparent;
    border: none;

    &--drk-mode {
      color: $drk-mode-txt;
    }
  }
}
