@font-face {
  font-family: "Figtree Extra Bold";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Medium";
  src: url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
}

// Header Text Presets
$ff-header: "Figtree Extra Bold", sans-serif;
$fs-header: 1.5rem;
$lh-header: 150%;
$ls-header: 0px;

@mixin type-header {
  font-family: $ff-header;
  font-size: $fs-header;
  line-height: $lh-header;
  letter-spacing: $ls-header;
}

// Body Copy Text Presets
$ff-body-copy: "Figtree Medium", sans-serif;
$fs-body-copy: 1rem;
$lh-body-copy: 150%;
$ls-body-copy: 0px;

@mixin type-body-copy {
  font-family: $ff-body-copy;
  font-size: $fs-body-copy;
  line-height: $lh-body-copy;
  letter-spacing: $ls-body-copy;
}

// Footer Text Presets
$ff-footer: "Figtree Medium", sans-serif;
$fs-footer: 0.875em;
$lh-footer: 150%;
$ls-footer: 0px;

@mixin type-footer {
  font-family: $ff-footer;
  font-size: $fs-footer;
  line-height: $lh-footer;
  letter-spacing: $ls-footer;
}

// Footer Bold Text Presets
$ff-footer-bold: "Figtree Extra Bold", sans-serif;
$fs-footer-bold: 0.875rem;
$lh-footer-bold: 150%;
$ls-footer-bold: 0px;

@mixin type-footer-bold {
  font-family: $ff-footer-bold;
  font-size: $fs-footer-bold;
  line-height: $lh-footer-bold;
  letter-spacing: $ls-footer-bold;
}
