@use "../../styles/typography" as *;

.item-board {
  &__header {
    font-weight: $fw-black;
    font-size: $fs-header;
    margin: 2rem;
  }
  &__menu-list {
    display: flex;
    flex-flow: column wrap;
    margin-inline: 2rem;
  }
}
