@use "../../styles/media-queries" as *;
@use "../../styles/typography" as *;

.item-board {
  padding: 1.5rem;

  @include desktop() {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    padding-inline: 0;
    margin: 5rem auto;
  }

  &__menu {
    @include desktop() {
      flex-basis: 70%;
    }
  }

  &__header {
    font-weight: $fw-black;
    font-size: $fs-header;
    margin-bottom: 2rem;
  }

  &__menu-list {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 70%;

    @include desktop() {
      flex-direction: row;
      margin-right: 1.5rem;
      gap: 1.5rem;
    }

    &--true {
      display: none;
      overflow: hidden;
    }
  }
}
